body {
  margin: 0;
  background-color: rgb(211, 228, 234);
  min-width: 320px;
  min-height: 100vh;
}

.errorLabel {
  color: red; /* Define el color del texto a rojo */
  padding: 10px; /* Espaciado interno para no tener el texto pegado al borde */
  border-radius: 5px; /* Bordes redondeados para suavizar la apariencia */
  margin: 10px 0; /* Margen superior e inferior para separarlo de otros elementos */
  font-size: 1em; /* Tamaño de fuente adecuado */
  font-weight: bold; /* Texto en negrita para darle importancia */
}
